<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        li{
            list-style: none;
            margin: 10px 0;
        }
        #app{
            width: 600px;
            margin: 0 auto;
        }
        h2{
            text-align: center;
            padding: 20px;
        }
        .del{
            float: right;
        }
        div{
            margin: 10px 20px;
        }
        .red{
            background-color: #f00;
        }
    </style>
</head>
<body>
    <div id="app">
        <h2>todolist</h2>
        <hr>
        <div class="concent">
            名称: <input type="text"  v-model="proName"/>
            价格: <input type="text"  v-model="proPrice"/>
            <button @click="add()">添加</button>
            <div>
                <input type="text" v-model="searchVal" @keyup="search()">
                <button>搜索</button>
            </div>
        </div>

        <div>
            <ul>
                <li v-for="(obj,index) in list" 
                    @click="change(obj)"
                    :class="{red:obj.isRed}"
                    v-if="obj.isInclude">
                    

                    <input type="checkbox" v-model="obj.isRed">
                    <span>{{obj.name}}</span>
                    <span>{{obj.price}}</span>
                    <span class="del"  @click.stop="dele(index)">[X]</span>
                </li>
            </ul>
            <div>
                <button @click="deleAll()">删除选中</button>
                总价
                {{total()}}
            </div>
        </div>
    </div>
    <script src="vue.js"></script>
    <script>
        new Vue({
            el:"#app",
            data:{
                list:[
                    {
                        name:"苹果",
                        price:5.9,
                        isRed:false,
                        isInclude:true,
                    },
                    {
                        name:"香蕉",
                        price:6.5,
                        isRed:false,
                        isInclude:true,
                    }

                ],
                proName:"",
                proPrice:"",
                searchVal:'',
                },
                methods:{
                    add(){
                        this.list.push(
                            {
                                
                               name:this.proName,
                               price:Number.parseFloat(this.proPrice),
                               isRed:false,
                               isInclude:true,
                            }
                        )
                        this.proName="",
                        this.proPrice=""
                    },

                    change(obj){
                        obj.isRed = !obj.isRed;
                    },


                    total(){
                        let sum =0;
                        this.list.forEach((obj)=>{
                            if(obj.isRed){
                                sum +=obj.price;
                            }
                        });
                        return sum;
                    },
                    dele(index){
                        this.list.splice(index,1)
                    },
                    deleAll() {
                    // this.list数组中 删除所有被勾选的 (isRed == true)
                    // 过滤出所有isRed false
                    let arr = this.list.filter((obj) => {
                        return obj.isRed == false;
                    })
                    this.list = arr;
                },
                    search(){
                        this.list.forEach((obj)=>{
                            if(obj.name.includes( this.searchVal )){
                                obj.isInclude =true;
                            }else
                            {
                                obj.isInclude =false;
                            }
                        })  
                    },
                }
        })

    </script>
</body>
</html>